<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="contactos, portequeños, tequeños, formulario, consulta">
    <meta name="description" content="Sitio web de Portequeños, para enviar consultas a los encargados de la empresa">
    <!-- Fuentes -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300&display=swap" rel="stylesheet">
    <!-- bootsrap V.4.6.x-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!-- Estilos -->
    <link rel="stylesheet" href="../assets/css/estilo.css">
    <title>Contactos</title>
</head>
<body class="cuerpo">  
    <div id="grillaModulos">
        <!-- Nav Bar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">
                <img id= "imgLogo" src="../img/logo2.png" alt="logo Portequeños">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">Home </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="./productos.html">Productos </a>
                    </li>    
                     <li class="nav-item ">
                        <a class="nav-link" href="./nosotros.html">Nosotros </a>
                    </li>  
                    <li class="nav-item active">
                        <a class="nav-link" href="./contactos.html">Contacto <span class="sr-only">(current)</span></a>
                    </li>  
                </ul>
            </div>
        </nav>
        <main>
            <h1 class="titulos">Formulario de contacto</h1>
            <section class="sectionContacto">                   
                <div class="container">
                    <form action="" id="formularioContacto">
                        <div class="form-group">     
                            <!-- Nombre -->
                            <div class="input-group mb-3">
                                <span class="input-group-text parrafo" id="inputGroup-sizing-default">Nombre</span>
                                <input type="text" class="form-control" aria-label="nombre" placeholder = "Ingrese su Nombre">
                            </div>
                            <!-- Apellido -->
                            <div class="input-group mb-3">
                                <span class="input-group-text parrafo" id="inputGroup-sizing-default">Apellido</span>
                                <input type="text" class="form-control" aria-label="apellido" placeholder = "Ingrese su Apellido">
                            </div>

                            <!-- Edad -->
                            <div class="input-group mb-3">
                                <span class="input-group-text parrafo" id="inputGroup-sizing-default">Edad  </span>
                                <input type="number" class="form-control" aria-label="edad" placeholder = "Ingrese su Edad">
                            </div>

                            <!-- Consulta -->
                            <div class="input-group">
                                <span class="input-group-text parrafo">Consulta</span>
                                <textarea class="form-control" aria-label="consulta" rows="5" placeholder="Escriba aquí"></textarea>
                            </div>
                            <br>
                             <!-- Botón Enviar -->                               
                             <button type="submit" class="form-control boton boton--oscuro">
                                Enviar
                            </button>                                
                        </div> 
                    </form>
                </div>  
            </section>
        </main>
        <footer class="footer fixed-bottom mt-auto py-3">
        <!--Info de contacto de la página-->           
            <br>
                <a href="https://instagram.com/portequenos?igshid=17gz7mifd78jn" target="_blank">
                    <img class="footer__imagen"  src="../img/instagram.png" alt="logo instagram" >
                </a>
                <a href="https://www.facebook.com/pages/category/Fast-Food-Restaurant/Porteque%C3%B1os-610556389602586/" target="_blank">
                    <img class="footer__imagen"  src="../img/facebook.png" alt="logo facebook" >
                </a>
                <a href="https://api.whatsapp.com/send/?phone=5491122496984&text&app_absent=0" target="_blank">
                    <img class="footer__imagen" src="../img/whatsapp.png" alt="logo whatsapp" >
                </a>
            <br> 
            <br>           
        </footer>
    </div>
    <script src="../js/formulario.js"></script>
    <!-- bootstrap V.4.6.x-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
 </body>
</html>