<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="keywords" content="Sobre portequeños, portequeños, tequeños, mision, vision, filosofía">
        <meta name="description" content="Sitio web de Portequeños, que contiene información de la empresa y de su filosofía">
         <!-- Fuentes -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300&display=swap" rel="stylesheet">
        <!-- bootsrap V.4.6.x-->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <!-- Estilos -->
        <link rel="stylesheet" href="../assets/css/estilo.css">    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
        <title>Nosotros</title>
    </head>
    <body class="cuerpo">  
        <div id="grillaModulos">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">
                    <img id= "imgLogo" src="../img/logo2.png" alt="logo Portequeños">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="../index.html">Home </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./productos.html">Productos</a>
                        </li>    
                        <li class="nav-item active">
                            <a class="nav-link" href="./nosotros.html">Nosotros <span class="sr-only">(current)</span></a>
                        </li>  
                        <li class="nav-item">
                            <a class="nav-link" href="./contactos.html">Contacto</a>
                        </li>  
                    </ul>
                </div>
            </nav>
            <main>
                <!-- Breve descripción de la compañía -->
                <h1 class="titulos">Nuestra filosofía</h1>
                <section class="sectionNosotros">  
                    <!-- Clase container bootstrap -->
                    <div class="container"> 
                        <div class="row">
                            <div class="col-12 col-sm-6 col-md-4 animated wow animate__animated animate__fadeInUp"  data-wow-offset="150">
                                <img class="img-fluid"  src="../img/nube.png" alt="Fantasía de tequeños es una nube"> 
                                <h1 class="titulos2">Deliciosos</h1>
                                <p class="parrafo2">Ricos y repletos de sabor Venezolano</p>                                
                            </div>
                            <div class="col-12 col-sm-6  col-md-4  animated wow animate__animated animate__fadeInUp"  data-wow-offset="150" data-wow-delay="0.5s">
                                <img class="img-fluid"  src="../img/masa.png" alt="Amasando masa para tequeños"> 
                                <h1 class="titulos2">Productos Frescos</h1>
                                <p class="parrafo2">Ingredientes con frescura del día para deleitar</p>
                            </div>
                            <div class="col-12 col-sm-0 col-md-4  animated wow animate__animated animate__fadeInUp"  data-wow-offset="150" data-wow-delay="1s">
                                <img class="img-fluid"  src="../img/oficina.png" alt="Tequeños en la oficina"> 
                                <h1 class="titulos2">Hechos con amor</h1>
                                <p class="parrafo2">Probarlos genera amor a primera vista</p>
                            </div>
                        </div>
                    </div>
                </section> 
                <h1 class="titulos">#SomosPortequeños</h1> 
                <section class="sectionNosotros">                    
                    <div class="contenidoEntero animated wow animate__animated animate__fadeInLeft"> 
                        <div>
                            <p class="contenidoEntero__parrafo">Portequeños es un empredimiento gastrónomico de comida Venezolana que nace como una opción para los residentes de la Ciudad de Buenos Aires de acceder al popular y delicioso Snack "El tequeño" </p>
                            <p class="contenidoEntero__parrafo">Nuestra Misión es dar a conocer el tequeño en el mundo ofreciendolo como una de las principales opciones gastronómicas en snacks, desayunos, entremés, etc..</p>
                            <p class="contenidoEntero__parrafo">Nuestra Visión es ser el restaurante de Tequeños número 1 desde Argentina para el mundo fusionando las culturas de Argentina y Venezuela </p>
                        </div>
                    </div>
                </section>                      
            </main>
            <footer class="footer mt-auto py-3">
                <!--Info de contacto de la página-->           
                    <br>
                        <a href="https://instagram.com/portequenos?igshid=17gz7mifd78jn" target="_blank">
                            <img class="footer__imagen" src="../img/instagram.png" alt="logo instagram" >
                        </a>
                        <a href="https://www.facebook.com/pages/category/Fast-Food-Restaurant/Porteque%C3%B1os-610556389602586/" target="_blank">
                            <img class="footer__imagen" src="../img/facebook.png" alt="logo facebook" >
                        </a>
                        <a href="https://api.whatsapp.com/send/?phone=5491122496984&text&app_absent=0" target="_blank">
                            <img class="footer__imagen" src="../img/whatsapp.png" alt="logo whatsapp" >
                        </a>
                    <br> 
                    <br>           
            </footer>
        </div>
        <!-- Libreria JavaScript para animacón -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.js"></script>
        <!-- Constuctor objeto wow -->
        <script>
            new WOW().init();
        </script>
        <!-- bootstrap V.4.6.x-->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    </body>
</html>